<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col 20 s14 offset-12">
                <h5 class="white-text">TWO TATOO</h5>
                <p class="grey-text text-lighten-4">COPYRIGHT ©2023 TWO TATOO – ALL RIGHTS RESERVED –
                <a href="https://www.iubenda.com/privacy-policy/10525990" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Politique de confidentialité ">Politique de confidentialité</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                <a href="https://www.iubenda.com/privacy-policy/10525990/cookie-policy" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Politique relative aux Cookies ">Politique relative aux Cookies</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                <p>WEB DESIGN BY MARTIN</p>
            </div>
        </div>
    </div>

</footer>