{% extends 'base.html.twig' %}

{% block title %}Modification de votre profil{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Modifiez vos infos ici</h1>
            <div class="other-pages">
        {{ form(form) }}
    </div>
    </div>


{% endblock %}
