<h1>Activation de votre compte</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Finaliser votre inscription au site Univertana en cliquant sur le lien ci-dessous :</p>
<p><a href="#">Lien</a></p>
<p>Ce lien expirera dans 1 heure</p>