<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - Twotatoo</title>
        <link rel="icon" href="assets/img/logo.svg" type="image/svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="TwoTatoo - Artiste tatoueur, Marine vous accueil pour toutes vos envies de tatouage">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcEv_2ifnn5H0fWlNW2DVNehOwliCSMso&callback=initMap"></script>




        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">


        <script src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>

        {% include '_partials/_nav.html.twig' %}
    
        {% block body %}
        {% endblock %}

        {% include '_partials/_footer.html.twig' %}

    
    </body>
</html>
